@import "./theme.sass";

#scatter circle {
    r: 3px;
    fill: #1c95ff26;
}

#scatter text {
    font-size: 13px;
}

.gridline {
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.scatter_tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
}

#dropdown-x, #dropdown-y {
    display: block;
    width: 100%;
    .button {
        width: 100%;
        justify-content: left;
    }
    .icon {
        right: 15px;
        position: absolute;
    }
}

.dropdown-menu {
    top: 64% !important;
}

#scatterplot {
    width: 100%;
}

#scatterplot_menu {
    width: 300px;
}

.table-container {
    height: 50vh;

}

.tableFixHead    {
    scrollbar-width: thin;
    overflow: auto;
    height: 50vh;
}
.tableFixHead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}


.tableFixHead tr:hover {
    background-color: $white-ter;
}


#banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4169e1;
    width: 100%;
}
#banner-content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #FFD700;
    text-align: center;
    font-size: 50px;
}
#main-content {
    padding-top: 120px;
    margin-left: 40px;;
    width: 500px;
}
