.dropdown {
    width: 300px;
}

#dropdown_container_x {
    margin-left: 285px;
}

#dropdown_container_y {
    margin-left: 34px;
}

.selection {
    width: 50%;
}

#scatter circle {
    r: 3px;
    fill: #1c95ff26;
}

#scatter text {
    font-size: 13px;
}

#scatterplot_title {
    width: 400px;
    display: block;
    text-align: center;
    margin-left: 34px;
    margin-bottom: 10px;
}

.gridline {
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
}


/* select option {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}

option {
    color: black;
}

option:hover {
    color: #3ca0e7;
    cursor: pointer;
}

select option select {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

select option:hover>select,
select option select:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

select option select option {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

select option select option:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}


a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }

}

select option select option {
    transition: all 0.5s ease;
} */
